.line30px{
    line-height: 30px;
}

/* label focus color */
.input-field input[type=text]:focus + label {
    color: #9e9e9e;
}
.input-field input[type=password]:focus + label {
    color: #9e9e9e;
}
/* label underline color */
.input-field input[type=text] {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password] {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #000 ;
    box-shadow: 0 1px 0 0 #000 ;
}
/* #ffc400 = material amber accent-3 */
[type="checkbox"]:checked+label:before{
    border-bottom: 2px solid #ffc400;
    border-right: 2px solid #ffc400;
}