.login-form-wrapper{
    margin: auto;
    margin-top: 15%;
    width: 420px;
    max-width: 420px;
}

.stick-to-bottom{
    z-index: 1000;
    position: fixed;
    bottom: 0;
}

#controlBar{
    margin-bottom: 20px;
    width: 100%;
}

#controlBar > *{
    margin: 0 auto;
    width: 292.5px;
    opacity: .5;
    transition: all .3s ease;
}

#controlBar > *:hover{
    opacity: 1;
}

.stick-to-top{
    z-index: 1000;
    position: fixed;
    top: 0;
}

.slider-wrapper{
    height: 51px;
    width: 66%
}

#currentlyPlaying{
    font-size: 1.45em;
    margin: 8px 0;
}

.fake-table{
    margin: 50px 0;
}

.fake-table >  div{
    margin-bottom: 0;
    border-bottom: 1px solid #d0d0d0;
    display: table;
    padding: 15px 0;
}

.fake-table .fake-table-head{
    border-bottom: 2px solid #d0d0d0 !important ;
    font-weight: bold;
}

nav ul .dropdown-content li a{
    color: rgba(0, 0, 0, 0.87);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

.remove{
    transition: .2s ease-in-out;
}

.remove:hover{
    color: #ff9800;
}

/* #ff9800 = material orange /*
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #ff9800;
}
.input-field input[type=password]:focus + label {
    color: #ff9800;
}
/* label underline color */
.input-field input[type=text] {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password] {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password]:focus {
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #b71c1c;
    box-shadow: 0 1px 0 0 #b71c1c;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #ff9800 ;
    box-shadow: 0 1px 0 0 #ff9800 ;
}
.input-field input[type=password].valid {
    border-bottom: 1px solid #ff9800 ;
    box-shadow: 0 1px 0 0 #ff9800 ;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #ff9800;
}

.input-field#top-search label[for=search] i, .input-field#top-search #search{
    color: #444 !important;
}